<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Aplikasi ini memerlukan akses Local Network untuk debugging Flutter.</string>
	<key>NSCameraUsageDescription</key>
	<string>Aplikasi membutuhkan akses kamera untuk mengambil foto dan video.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aplikasi membutuhkan akses ke galeri foto untuk memilih atau menyimpan gambar.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Aplikasi membutuhkan izin untuk menyimpan foto ke galeri.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aplikasi membutuhkan akses mikrofon untuk merekam suara atau video.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aplikasi membutuhkan akses lokasi saat digunakan untuk menampilkan lokasi Anda di peta.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Aplikasi membutuhkan akses lokasi meskipun berjalan di background untuk fitur tertentu.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Aplikasi membutuhkan izin untuk mengirim notifikasi.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.792822151078-j0hj3tpt44v6h45052mcs9mhq8slet10</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>sms</string>
		<string>mailto</string>
		<string>https</string>
		<string>http</string>
	</array>

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>RRFX</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>rrfx</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
